<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
	</bean>

	<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig"/>
		<constructor-arg index="1">
			<list>
				<bean class="redis.clients.jedis.JedisShardInfo">
					<constructor-arg index="0" value="${spring.shard.redis.0.host}"/>
					<constructor-arg index="1" value="${spring.shard.redis.0.port}"/>
				</bean>
				<bean class="redis.clients.jedis.JedisShardInfo">
					<constructor-arg index="0" value="${spring.shard.redis.1.host}"/>
					<constructor-arg index="1" value="${spring.shard.redis.1.port}"/>
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<bean class="com.xiaogch.common.redis.shard.ShardService">
		<property name="shardedJedisPool" ref="shardedJedisPool"/>
	</bean>
</beans>